<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.worthwhilegames.carhubmobile"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/carhub"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.worthwhilegames.carhubmobile.FindGasPricesActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".UpdatePriceActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".MainMenuActivity"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="carhub.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.worthwhilegames.carhubmobile" />

        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>