[submodule "GarageHubMobile/GarageHub/src/main/java/com/worthwhilegames/carhubmobile/garagehubkeys"]
	path = GarageHubMobile/GarageHub/src/main/java/com/worthwhilegames/carhubmobile/garagehubkeys
	url = ssh://git@bitbucket.org/breber/garagehub-keys.git
